@import url('https://fonts.googleapis.com/css?family=Righteous');

canvas{
    display:block;
    position:absolute;
    margin-top:0px;
    margin-bottom:0px;
    left:0;
    top:0;
    z-index:-1;
}

input[type='number'], input[type="text"]{
    display:block;
    width:485px;
    height:50px;
    background: transparent;
    border: 6px solid #bbff2b;
    color:#bbff2b;
    font-size:2em;
    z-index:999;
    font-weight: bold;
    padding-left: 10px;
    padding-right:10px;
    margin-bottom:10px;
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

td, th{
    border:6px solid #bbff2b;
    font-size:2em !important;
    height:50px;
    font-weight:bold !important;
    color:#bbff2b !important;
}

table{
    border: 6px solid #bbff2b;
}

.customButton{
    display:inline-block;
    width:63px;
    height:63px;
    border:6px solid #bbff2b;
    color: #bbff2b;
    margin-left:6px;
}

.customButton:hover{
    border:6px solid white;
    color:white;
}

body{
    font-family: 'Righteous', sans-serif;
    background-color: black;
}